@mixin expand-background($color: $primary, $side: 'left') {
  position: relative;

  > div {
    position: relative;
    z-index: 1;
  }

  &::before,
  &::after {
    @include block;
    @include bg($color);
    position: absolute;
    width: 50vw;
    height: 100%;
    top: 0;
    z-index: 0;
  }

  @if $side == 'left' {
    &::before {
      content: '';
      left: 0;
      transform: translateX(-99.9%);
    }
  }

  @if $side == 'right' {
    &::after {
      content: '';
      right: 0;
      transform: translateX(99.9%);
    }
  }
}
