@mixin height100vh() {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

@mixin minHeight100vh() {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

@mixin maxHeight100vh() {
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
}
