@mixin underline(
  $color: white,
  $size: 1px,
  $bottom: 0,
  $left: 0,
  $type: 'after'
) {
  position: relative;

  &::#{$type} {
    transition: transform 0.5s $ease-in-out-circ;
    content: '';
    display: block;
    height: $size;
    width: calc(100% - #{$left * 2});
    position: absolute;
    bottom: $bottom;
    left: $left;
    background-color: $color;
    transform: scaleX(1);
    transform-origin: left center;
  }
}
