// Colors

$primary: #1a9dd8;
$secondary: #37a87a;
$neutral: #8c8b9b;
$black: #000;
$white: #fcfcfc;

$color-blue-light: #21acdd;
$color-blue-medium: #005098;
$color-blue-dark: #1c1f3d;
$color-green: #37a87a;
$color-orange: #e39624;
$color-pink: #f6b8bc;
$color-purple: #7666ab;
$color-red: #ec604d;
$color-yellow: #fee100;
$color-christmas: #b22222;

$background-body: linear-gradient(180deg, rgba(244, 245, 249, 0) 0%, #ECF0FD 120.16%);
$background: #ffffff;
$foreground: #1c1f3d;
$font: #231f20;
$font-alt: #ffffff;
$fg: tint($color-blue-medium, 90%);
$border: tint($color-blue-dark, 80%);

$border-input: $border;

$success: #37a87a;
$warning: #e39624;
$alert: #ec604d;

$facebook: #3b5998;
$youtube: #f00;
$twitter: #1da1f2;
$linkedin: #0077b5;
$instagram: #e1306c;
$dribbble: #ea4c89;
$medium: #00ab6c;

// Border Radius

$rounded-tiny: 0.2rem;
$rounded-sm: 0.4rem;
$rounded-default: 0.6rem;
$rounded-md: 1.2rem;
$rounded-lg: 3rem;
$rounded-xl: 6rem;
$rounded-full: 50%;

// Font Family

$font-text: 'Roboto Condensed', '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"',
  'Roboto', '"Helvetica Neue"', 'Arial', '"Noto Sans"', 'sans-serif',
  '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"',
  '"Noto Color Emoji"';
$font-primary: 'Roboto Condensed', 'Cambria', '"Times New Roman"', 'Times', 'serif';

// Font Size

$font-size: 16px;

// Font Weight

// $font-hairline: 100;
// $font-thin: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
// $font-extrabold: 800;
// $font-black: 900;

//  Letter Spacing

$letter-tighter: -0.05em;
$letter-tight: -0.025em;
$letter-normal: 0;
$letter-wide: 0.025em;
$letter-wider: 0.05em;
$letter-widest: 0.1em;

// Line Height

$leading-none: 0;
$leading-miny: 0.8;
$leading-min: 0.9;
$leading-tinier: 1;
$leading-tiny: 1.1;
$leading-tight: 1.25;
$leading-snug: 1.375;
$leading-normal: 1.5;
$leading-relaxed: 1.625;
$leading-loose: 2;

// Gutters

// $gutter-sm: 1.5rem;
// $gutter-md: 2.5rem;
// $gutter-lg: 3rem;

// Widths

$page-max: 192rem;
$grid-width: 124rem;

// Transitions Timing functions

$ease-linear: linear;

$ease-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);

$ease-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$ease-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
